body {
    padding: 0;
    background-color: rgb(213, 217, 221);
    text-align: center;
}

.main_nav_bar {
    background-color: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.play_options {
    background-color: rgb(206, 203, 203);
    overflow: auto;
    display: flex;
    justify-content: center;
}

nav span {
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 18px;
}
nav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

strong {
    color: black;
}

nav a:hover {
    background-color: rgb(213, 217, 221);
    color: black;
}
nav a.active {
    background-color: rgb(213, 217, 221);
    color: black;
}

/* Card CSS */

.card {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: right;
    border-radius: 8px;
    margin-bottom: 35px;
    padding: 10px 0px 10px 10px;

/* If it's a gold card, display this color rgba(240, 189, 7, 0.886) */
    /*background-color: rgba(240, 189, 7, 0.886);*/

/* If it's a silver card, display silver */
    /*background-color: silver;*/

/* If it's a bronze card, display rgb(218, 128, 32)*/
    /*background-color: rgb(218, 128, 32);*/

/* If it's for guessing, then display gray */
    /*background-color: gray;*/

/* Display gray borders and shadows on the bottom and right sides of the card */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid white;
    border-right: 2px solid white;
  }

/*  THESE ARE THE COLORS OF THE CARDS BASED ON THE PLAYERS INFO */
    .silver {
        background-color: silver;
    }
    .gold {
        background-color: rgba(240, 189, 7, 0.886);
    }
    .bronze {
        background-color: rgb(218, 128, 32);
    } 

    .black-shadow {
        background-color: white;
    }

  .guess-box {
    position: absolute;
    background-color: #fff;
    transform: translate(470%, -35%);
    border-radius: 5px;
  }
  .card-img {
    width: 199px;
    height: 199px;
    object-fit: cover;
    border-radius: 5px;
    box-sizing: border-box;

  }

/* If the player is being displayed as unknown/locked */
  .locked {
    filter: brightness(0); 
  }

  .card-img-border {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: rgb(217, 217, 217);
  }
  
  .card-text {
    padding-left: 20px;
    flex: 1;
    text-align: left;
  }
  
  .card-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
  }
  
  .button:hover {
    background-color: #0069d9;
  }