{% extends "main.html" %}

<!-- Block that contains html page_name -->

{% block page_name %}

<h2>About the NBA Wiki Game</h2>

{% endblock %}

<!-- Block that contains html contents -->

{% block content %}

<p>This web app is a game/wiki for NBA facts and trivia!</p>

<p>Game consists of being presented a silhouette of a random NBA player</p>
<p>as well as hints regarding that player and you must guess who it is!</p>

<h3>How to play</h3>

<p>You can play by selecting the 'Play' tab and choosing which game mode you would like to play</p>
    
<p>Users are initially given one hint, they may request more but the less hints you request the more valuable the card you earn.</p>

<p>The cards you earn in the play mode are displayed in the 'collection' tab.</p>

<h2>Author</h2>

<p>Kristofer Valerio, Computer Science Student at University of Texas at El Paso</p> 

{% endblock %}