{% extends "main.html" %}

<!-- Block that contains html page_name -->

{% block page_name %}

<h1>Player Collection</h1>

{% endblock %}

<!-- Block that contains html contents -->

{% block content %}

<!-- Div element holds information regarding the cards and how to display them. -->

<div>

<!-- For loop that iterates through player collection (dict) using player_id's that give us 
    access to corresponding cards_data (player_information csv parsed into 2d list) -->

    {% for player_id in collection %}

<!-- Class = "card" AND based on the color/type of the card will have a class corresponding to its color/type 
    (ex, if card type is gold, then % elif collection[player_id][0] == 'Gold' % gold will make the class = gold) -->

        <div class="card
        {% if collection[player_id][0] == 'Silver' %} silver
        {% elif collection[player_id][0] == 'Gold' %} gold
        {% elif collection[player_id][0] == 'Bronze' %} bronze 
        {% endif %}">
            
<!-- Div element that is in charge of displaying the player's image -->

            <div class="card-img-border">
                <img src="{{player_image_links[player_id]}}"
                alt="{{cards_data[player_id][0]}} Image" class="card-img">
            </div>

<!-- Div element displays the text within the card -->

            <div class="card-text">

            <h2>{{cards_data[player_id][0]}}</h2>

            <p>
                <strong>Team: </strong> {{cards_data[player_id][1]}} <br>
                <strong>Position: </strong> {{cards_data[player_id][2]}} <br>
                <strong>Number: </strong> {{cards_data[player_id][3]}}
            </p>

            <a href="#" class="button">Read More</a>

                <div class = "guess-box">
                    <p>&emsp;Guesses: {{collection[player_id][1]}}&emsp;</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<!-- message, if the player's collection is empty the message will display that -->

{{message}}

{% endblock %} 