{% extends "main.html" %}

<!-- Block that contains html page_name -->

{% block page_name %}

<h1>Player Collection</h1>

{% endblock %}

<!-- Block that contains html contents -->

{% block content %}
    
<p>Here the users' collection will be displayed</p>

<p>Let's create a practice card</p>

<div class="card">
    <img src="https://storage.cloud.google.com/nba-players/stephen_curry/stephen_curry_image.png?authuser=3"
     alt="Stephen Curry Image" class="card-img">
    <div class="card-text">
      <h2>Stephen Curry</h2>
      <p>
        <strong>Team: </strong> Golden State Warriors <br>
        <strong>Number: </strong> 30 <br>
        <strong>Position: </strong> Point Guard
    </p>
      <a href="#" class="button">Read More</a>
    </div>
</div>

<div class="card">
    <img src="https://storage.cloud.google.com/nba-players/stephen_curry/stephen_curry_image.png?authuser=3"
     alt="Stephen Curry Image" class="card-img">
    <div class="card-text">
      <h2>Stephen Curry</h2>
      <p>
        <strong>Team: </strong> Golden State Warriors <br>
        <strong>Number: </strong> 30 <br>
        <strong>Position: </strong> Point Guard
    </p>
      <a href="#" class="button">Read More</a>
    </div>
</div>

<!-- message -->

{{message}}

{% endblock %} 