<!DOCTYPE html>
<html>

<head>
    <head>
        <!-- Title of NBA Wiki Game, this is what is displayed on browser tabs -->

        <title>NBA Wiki Game</title>

        <!-- Link style sheet -->

        <link rel = 'stylesheet' type = 'text/css' href = 'static/main.css'>
    </head>
</head>

<!-- body of main.html, contains nav bar and such -->

<body>

<!-- Nav Bar -->

<!-- If user is logged in, display this navbar. Otherwise, display the other one -->

    {% if username %}

    <nav class='main_nav_bar'>    
        <a href="/">Home</a>
        <a href="/about">About</a>  
        <span><strong>|&emsp;{{username}}&emsp;|</strong></span>
        <a href="/play">Play</a>
        <a href="/collection">Collection</a>
        <a href="/logout">Logout</a> 
    </nav>
    
    {% else %}

    <nav class='main_nav_bar'>   
        <a href="/">Home</a> 
        <a href="/about">About</a>  
        <a href="/login">Login</a> 
        <a href="/signup">Sign Up</a>
    </nav>

    {% endif %}

<!-- Blocks are used as placeholders for child templates to fill in with their own content -->

<!-- Block that contains html page_name -->

    {% block page_name %}
    {% endblock %}

<!-- Block that contains html contents -->

    {% block content %}
    {% endblock %}

</body>

</html>