<!DOCTYPE html>
<html>

<head>
    <head>
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
        <title>NBA Wiki Game</title>
    </head>
</head>

<body>
    <center>
        <!-- TODO(Project 1): Implement routes. -->
            <!-- Nav Bar -->
            <nav>   
                <a href="/">Home</a> 
                <a href="/about">About</a>  
                <a href="/login">Login</a> 
                <a href="/signup">Sign Up</a>
            </nav>
            <img src = "https://storage.cloud.google.com/nba-images/nba_logo.png?authuser=3" alt = "Nba Logo" width="400" height=auto>

            
            <p>Hello World! mf</p>
            <p>breh</p>
    </center>
</body>

</html>